# Systemd service configuration for poc-robot-ai-assistant daemon
#
# Big thanks to: https://roboticsbackend.com/make-a-raspberry-pi-3-program-start-on-boot/
#
# To install:
# ===========
# 1) Copy this file into the systemd area : sudo cp poc-robot-ai-assistant.daemon.service /lib/systemd/system/
# 2) Refresh system cache for services    : sudo systemctl daemon-reload
# 3) Make our service start on boot       : sudo systemctl enable poc-robot-ai-assistant.daemon.service
# 4) Force AI assistant to start now      : sudo service poc-robot-ai-assistant.daemon start
#
# Quick Reference:
# ================
# start service                           : sudo service poc-robot-ai-assistant.daemon start
#
# restart service                         : sudo service poc-robot-ai-assistant.daemon restart
#
# stop service                            : sudo service poc-robot-ai-assistant.daemon stop
#

[Unit]
Description=Theo Generative AI Robot Assistant
After=network.target sound.target

[Service]
#ExecStartPre=/bin/bash -c "arecord -L > /home/pi/workarea/poc-robot-ai-assistant/log/alsa_devices.log"
ExecStart=/home/pi/workarea/poc-robot-ai-assistant/.venv/bin/python src/realtime_api_async_python/main.py --prompts="Say Hello World! or whatever fun salutation you prefer"
ExecStop=/bin/kill -SIGTERM $MAINPID
WorkingDirectory=/home/pi/workarea/poc-robot-ai-assistant/
Environment="XDG_RUNTIME_DIR=/run/user/1000"
StandardOutput=append:/home/pi/workarea/poc-robot-ai-assistant/log/poc-robot-ai-assistant.log
StandardError=append:/home/pi/workarea/poc-robot-ai-assistant/log/poc-robot-ai-assistant-error.log
User=pi
Restart=always

[Install]
WantedBy=multi-user.target

